<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
    <add key="DevExpress NuGet Feed URL" value="https://nuget.devexpress.com/H5fc3VflGqEbWid41vf6lJGYXLhmw3VkmtzyJcnhAKtXpLoCym/api/v3/index.json" />
  </packageSources>
</configuration>